@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
}

.header-1 {
    background-color:#b7b2a9;/*#1f242d*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-1 {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-1 {
    /* background-color: #1f242d;*/
    background-image:
    /* linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),  */
    url("../HOME_NEXT_2/kongqiwuran2.jpg");
    background-size:100% 100%;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content-1 {
    width: 600px;
}

.home-content-1 h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content-1 h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content-1 h3 span {
    color: #b7b2a9;
}

.home-content-1 h1 {
    width: 400px;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content-1 p {
    margin-bottom: 2%;
    font-size: 13px;
    font-weight: bold;
    font-style:normal;
    color: aliceblue;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.home-chart-1 {
    left: 100px;
    top: -70px;
    width:1000px;
    border-radius: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    box-shadow: 0 0 0px #b7b2a9;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}




.btn-1 {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    background: #b7b2a9;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #b7b2a9;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn-1:hover {
    box-shadow: 0 0 10px #b7b2a9;
}

.btn-1:active {
    background: none;
    color: #b7b2a9;
    border: 0px solid #b7b2a9;
}

/* 动画 */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0);
    }
}